@import url('https://rsms.me/inter/inter.css');

html, body {
  background-color: #fff;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

.feedContainer, .homeContainer {
  background-color: #fff;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 85vw;
  color: #181818;
  margin: 0 auto;
  font-size: calc(10px + 1vmin);
  letter-spacing: -0.017em;
}

.homeContainer .header {
  background-color: #F0F1F1;
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 5vh;
  line-height: 0;
  min-height: 175px;
}

.feedContainer .breadCrumbs {
    margin-top: 1.5vh;
    font-size: 0.7em;
    font-feature-settings: "calt" 1;
    letter-spacing: -0.006em;
}
.feedContainer .breadCrumbs a {
  color: black;
}

.feedContainer .header {
  margin-top: 0.5vh;
  background-color: #F0F1F1;
  width: 100%;
  margin-bottom: 5vh;
  line-height: 0;
  min-height: 175px;
}

.homeContainer .header h2 {
  font-size: calc(10px + 4vmin);
  text-align: center;
  letter-spacing: -0.021em;
  margin: 2em auto 2em auto;
}

.homeContainer p:first-of-type {
  border-top: 1px solid #999;
  padding-top: 1em;
}

.homeContainer p:last-of-type {
  border-bottom: 1px solid #999;
  padding-bottom: 1em;
}

.feedContainer .header h2 {
  font-size: calc(10px + 3vmin);
  display: inline-block;
  margin: 0;
}

.header img {
  max-width: 175px;
  margin-right: 1em;
}

.feedContainer .post {
  flex: 1;
  margin-bottom: 2em;
  border-top: 1px solid #999;
}

.feedContainer .post a {
  cursor: pointer;
  background: yellow;
  text-decoration: none;
  padding: 0.1em;
  color: #181818;
}
.feedContainer .post a:hover {
  text-decoration: underline;
}

.feedContainer .post b.date a {
  background: transparent;
  text-decoration: none;
  color: #181818;
}

.feedContainer .post b.date a:hover {
  text-decoration: underline;
}

.App-link {
  color: #61dafb;
}

input[type=text] {
  width: 50vw;
  border: 0;
  border-bottom: 1px solid #999;
  margin: 1em auto 1em;
  font-size: calc(10px + 1vmin);
  height: 24px;
}
footer {
  color: black;
  margin-top: 1em;
  text-align: right;
}
footer a {
  color: black;
  background: yellow;
  padding: 0.1em;
  cursor: pointer;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

@media all and (min-width: 481px) and (max-width: 1024px) {
  .feedContainer {
    width: 100vw;
  }
  .post {
    padding: 0 5px 0 5px;
    max-width: 95vw;
  }
  .feedContainer .header {
    min-height: 20vh;
  }
  .header img {
    max-width: 30vw;
    margin-right: 0.5em;
  }
  .feedContainer .header h2 {
    font-size: 18px;
  }
}

@media all and (max-width: 480px) {
  .feedContainer {
    width: 100vw;
  }
  .post {
    padding: 0 5px 0 5px;
    max-width: 95vw;
  }
  .feedContainer .header {
    min-height: 10vh;
  }
  .header img {
    max-width: 30vw;
    margin-right: 0.5em;
  }
  .feedContainer .header h2 {
    font-size: 15px;
  }
}